* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.remove {
  cursor: pointer;

  &:hover {
    color: red;
  }
}

input {
  margin: 10px;
}

select {
  margin: 10px;
}

textarea {
  margin: 10px;
}